@media screen and (min-width: 480px) {
  body {
    background-color: #ffff;
    color: black;
  }
}
#who-we-are {
    text-align: center;
    list-style: none;
    background-color: #f3f3f3;
}

#about-us {
    text-align: center;
    list-style: none;
    background-color: #00a1cf;
}

#careers {
    text-align: center;
    list-style: none;
    background-color: #f3f3f3;
    list-style-type: none;
    
}

#donate {
    text-align: center;
    list-style: none;
    background-color: #00a1cf;
}

#donate li{
    list-style-type: none;
}


ul.positions{
    list-style-type: none;
}

ul.n-bar {
    list-style-type: none;
    display: flex;
}


img {
    max-height: 100px;
    max-width: 200px;
}

#nav-bar {
    display: flex;
    height: 80px;
    min-width: 600px;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    overflow: hidden;
}

a {
    position: relative;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 0 10px;

}

a:after {
    content: " ";
    position: absolute;
    background-color: #50E3C2;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}

a:hover {
    color: black;
}

a:hover:after {
    width: 100%;
}

